body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(188, 172, 181);
    /* height: 140px; */
    width: 250px;
    padding: 25px;
    border-radius: 5px;
}

input[type = "text"], input[type="password"] {
    width: 90%;
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
}

#submit {
    color: rgb(12, 12, 12);
    background-color: rgb(43, 218, 101);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
    padding: 5px 10px;
    border: none;
}


.error{
    color: red;
}